// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#home {
	padding-top: 150px;
}

#banner {
    padding-top: 170px;
    position: relative;
  
  width: 100%;
  height: auto;
  background-color: #f3f3f3;
  background: url('images/Banner.jpg') center 30% no-repeat;
  background-size: cover;
}

